/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

/* from settings, api */
:root {
    --background-color: #fff;
    --progress-color: #00a863;
    --progress-shadow-color: #ccc;
    --text-color: #000;
    --light-text-color: #4b5563;

    --logo: "";
    --show-avg-line: true;
}
/*  */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-family: var(--sans, "Roboto"), sans-serif;

    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
    /*scroll, default */
}

h2 {
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-weight: 300;
    font-size: 20px;
}
