/* map */
.map-page {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instructions-side {
    flex: 0.85;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.instructions-side p {
    color: var(--text-color);
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0;
    padding: 0.25rem 0;
    font-weight: 600;
}

.map-box {
    flex: 1.3;
    min-width: 300px;
    padding: 20px;
    padding-top: 0;
}

/* @media (max-width: 768px) {
    .map-box {
        margin-left: 0;
        margin-right: 0;
    }
} */
