.cog {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #1d72b8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* keyframes for spinning animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.resultsPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sum {
    margin-top: 40px;
}

/* equation */
.comment {
    font-size: 0.8em;
    color: #777; /* grey text */
    font-style: italic; /* optional, to look more like a note */
}

.equation {
    display: flex;
    align-items: center;
    gap: 10px; /* space between fraction and result */
}

.numerator,
.denominator {
    display: block;
    text-align: center;
}

.comment {
    font-size: 0.8em;
    color: #777;
    font-style: italic;
}

.equals {
    margin-left: 10px;
}
