@import "global.css";

.widget {
    /* Widget container - layout, positioning, background, padding */
    min-height: 100vh;
    width: 100%;
    padding: 3.5rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.progress-bar {
    width: 90%;
    align-self: center;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.progress-container::before {
    /* psuedo element, for extra line in background  */
    content: "";
    position: absolute;
    background-color: var(--progress-shadow-color);
    height: 8px;
    width: 100%;

    /*positioning - logo, than logo up half own height to centre*/
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.step {
    background-color: var(--progress-shadow-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    z-index: 2;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.step.active {
    background-color: var(--progress-color);
}

.logo {
    /* background-color: inherit; */
    color: var(--background-color);
    height: 30px;
    width: 30px;
    stroke-width: 1;
}

.progress {
    background-color: var(--progress-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    transition: all 0.3s ease-in;
    z-index: 2;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1rem 0;
}

.btn {
    background-color: var(--progress-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    padding: 4px 40px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: color-mix(in srgb, var(--progress-color) 90%, black);
}

.btn:active {
    transform: scale(0.97);
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.9;
    background-color: #ddd;
}

.pages {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
}
