/* @import "./globals.css"; */

* {
    padding: 0;
    margin: 0;
    color: var(--foreground-rgb);
}

.pages {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: center;

    /* background-color: #00a863; */

    /* dead space .. */
    padding: 20px;
}

.search input {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 10px;
    border-radius: 32px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search input:focus {
    border-color: #4285f4;
    box-shadow: 0 2px 6px rgba(66, 133, 244, 0.5);
}

.progress-page {
    width: 100%;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
}

@media (max-width: 768px) {
    .progress-page {
        width: 100%;
    }
    /* .progress-bar {
        width: 100%;
    } */
}
